.ButtomBackUp__Container{
    position: fixed;
    bottom: 16px;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 70px;

    border-radius: 70px;

    background-color: #592E83;

    transition: 0.5s;
}